* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}


header {
    color: aliceblue;
    background-color: #4c40f9;
    text-align: center;
    padding: 50px;
}


main {
    padding: 50px 15%;
}


.small {
    max-width: 250px;
}
.big {
    min-height: 50px;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 5px #e0e0e0;
    transition: 50ms;
    outline: 2px solid black;
    font-size: large;
}
input[type="text"]:focus {
    outline: 3px solid #4c40f9;
}
input[type="text"]:not(:focus) {
    color: rgb(81, 81, 81);

}

main div.pannel {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: large;
    gap: 2em;
    border-radius: 10px;
    padding: 60px;
    box-shadow: 0 0 50px #e0e0e0;
    background-color: #FFF;
}

main div.pannel .btn,
main div.pannel button {
    font-size: medium;
    border-radius: 7px;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: #98b3ff;
    box-shadow: 0 0 5px #e0e0e0;
    transition: 50ms ease-in-out;
    border: none;
}

main div.pannel .btn:hover,
main div.pannel button:hover {
    background-color: #8178fe;
    color: white;
}
main div.pannel .btn:active,
main div.pannel button:active {
    transition: 0;
    background-color: #4c40f9;
}

main div.pannel table {
    border: none;
    /* Remove table border */
}
main div.pannel table tr td input {
    width: 90%;
}

#result-div {
    overflow-x: scroll;
}

#reponse-talbe {
    text-align: left;
    border-collapse: collapse;
    overflow-x: scroll;
}
#reponse-talbe tr td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
#reponse-talbe tr:hover {
    background-color: #e6e5e5;
}


.material-symbols-outlined {
    user-select: none;
    height: 1em;

}

.speak-button {
    border-radius: 100% !important;
    background-color: #cccccc !important;
    aspect-ratio: 1/1 !important;
}

.speak-button:hover {
    background-color: #b3b3b3 !important;
}

footer {
    padding: 10px;
    background-color: #362ea4;
    padding: 50px 10px;
    color: aliceblue;
}
footer a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        padding: 0px;
    }

    main div.pannel {
        padding: 5px;
    }
}
