* {
    margin: 0;
    /* outline: red 1px solid; */
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}


header {
    color: aliceblue;
    background-color: #4c40f9;
    text-align: center;
    padding: 50px;
}


main {
    background-color: #f4f4f4;
    padding: 50px 15%;
}

main div.pannel {
    display: flex;
    font-size: large;
    text-align: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px 20px;
    box-shadow: 0 0 50px #e0e0e0;
    background-color: #FFF;
}

main div.pannel .btn,
main div.pannel button {
    font-size: large;
    border-radius: 7px;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: #FFF;
    box-shadow: 0 0 5px #e0e0e0;
    transition: 50ms ease-in-out;
    border: none;
    outline: 2px solid #8178fe;
}

main div.pannel .btn:hover,
main div.pannel button:hover {
    background-color: #8178fe;
    color: white;
}

main div.pannel .btn:active,
main div.pannel button:active {
    transition: 0;
    outline: 2px solid #4c40f9;
    background-color: #4c40f9;
}

main div.pannel table tr td input {
    width: 90%;
}


footer {
    padding: 10px;
    background-color: #362ea4;
    padding: 50px 10px;
    color: aliceblue;
}