<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbs</title>
    <link rel="shortcut icon" href="src/GBFlag.png" type="image/x-icon">
    <link rel="stylesheet" href="src/style.css">
    <script defer src="index.js"></script>
</head>

<body>
    <header>
        <h1>Verbes irreguliers anglais</h1>
    </header>
    <main>
        <div class="pannel">
            <h2>Level</h2>
            {% for level in levels %}
            <a href="/test/{{quote(level)}}">{{level}}</a>
            {% endfor %}
        </div>
    </main>
    <footer>
        <p>Lorem aute ea nisi ut laborum. Est et cupidatat tempor proident. Ea elit tempor magna amet. Ex duis in esse irure excepteur exercitation dolore. Id ea sunt irure amet excepteur aliqua sint est nostrud aliquip voluptate labore adipisicing magna. Sunt officia ex aliquip ex est. Consectetur commodo quis ipsum ut magna nulla dolore.</p>
    </footer>
</body>
</html>