<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbs</title>
    <link rel="shortcut icon" href="src/GBFlag.png" type="image/x-icon">
    <link rel="stylesheet" href="src/style.css">
    <script defer src="index.js"></script>
</head>

<body>

    <header>
        <h1>Verbes irreguliers anglais</h1>
    </header>

    <main>
        <div class="pannel">
            <p>1/10</p>
            <h2>Verbe</h2>
            <table>
                <tr>
                    <td>Base verbale</td><td>Preterit</td><td>participe passé</td>
                </tr>
                <tr>
                    <td><input type="text" name="" id=""></td><td><input type="text" name="" id=""></td><td><input type="text" name="" id=""></td>
                </tr>
            </table>

            <button>Clicker</button>

        </div>
    </main>

    {{verbes}}

</body>

</html>