<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbs</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='GBFlag.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script defer src="{{url_for('static', filename='index.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>

    <style>
        .github-fork-ribbon:before {
            background-color: #333;
        }
    </style>
    <a class="github-fork-ribbon" href="https://github.com/AZachia/Verbes-Irrelguliers" data-ribbon="Fork me on GitHub"
        title="Fork me on GitHub" target="_blank">Fork me on GitHub</a>

    <header>
        <h1>Irregular Verbs</h1>
    </header>

    <main>

        <div class="pannel" id="start-div">
            <p>Welcome to the verb test! You will be given a verb in its base form. Your task is to fill in the correct
                forms of the
                verb in the given fields. If a verb form has two possible forms, please enter only one. Click 'Start' to
                begin the
                test. Good luck!</p>


            <button id="start-btn">Start</button>

        </div>

        <div class="pannel" id="test-div" style="display: none;">
            <div style="display: flex; justify-content: space-between;">
                <span id="timer">00:00</span>
                <span id="question-number"></span>
            </div>
            <h2 id="verbe-element">Verbe</h2>
            <table>
                <tr>
                    <td>Base verbale</td>
                    <td>Preterit</td>
                    <td>participe passé</td>
                </tr>
                <tr>
                    <td><input type="text" name="" id="bv-element"></td>
                    <td><input type="text" name="" id="preterit-element"></td>
                    <td><input type="text" name="" id="pp-element"></td>
                </tr>
            </table>

            <button id="send-btn">Pass</button>

        </div>

        <div class="pannel" id="end-div" style="display: none;">
            <h2>Finished !</h2>


            <button id="see-results-btn">See the results</button>

        </div>
        <div class="pannel" id="result-div" style="display: none;">
            <h2>Results</h2>


            <a href="/" class="btn">home</a>

            <table id="reponse-talbe">

            </table>
            <p id="time-p"></p>

            <h2 id="score-h2"></h2>

        </div>

        <div class="pannel" id="cheat-detected" style="display: none;">
            <h1 style="color: red;">⚠️ Triche Détéctée! ⚠️</h1>


            <a href="/" class="btn">home</a>
            <p>Merci de retourer au menu et de ne plus recommencer!</p>



        </div>


    </main>


    <script>
        const verbes = {{ verbes | safe }};
        const key = "{{key | safe}}";
    </script>


</body>

</html>