<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbs</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='GBFlag.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script defer src="{{url_for('static', filename='index.js')}}"></script>
</head>

<body>

    <header>
        <h1>Verbes irreguliers anglais</h1>
    </header>


    <main>
        <div class="pannel">
            <p>Bon ici tu met la consigne en mode rapide, comme quoi il faut mettre les verbes irreguliers le plus rapidement possible</p>

    
            <button id="start-btn">Start</button>
    
        </div>

    <main>
        <div class="pannel">
            <p style="width: 100%; text-align: right;">1/10</p>
            <h2 id="verbe-element">Verbe</h2>
            <table>
                <tr>
                    <td>Base verbale</td>
                    <td>Preterit</td>
                    <td>participe passé</td>
                </tr>
                <tr>
                    <td><input type="text" name="" id=""></td>
                    <td><input type="text" name="" id=""></td>
                    <td><input type="text" name="" id=""></td>
                </tr>
            </table>

            <button id="send-btn">Send</button>

        </div>
    </main>


    <script>
        const verbes = {{verbes | safe }};
        const key = "{{key | safe}}";
    </script>


</body>

</html>